<!-- Services -->
<div class="services-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 services-title wow fadeIn">
	<h2>Znajdziesz tu</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
	<div class="service wow fadeInUp">
	  <div class="service-icon"><i class="fa fa-camera"></i></div>
	  <h3>Albumy</h3>
	  <p>Zdjęcia z naszych podróży w bliskie i dalekie strony oraz z wypadów w góry.</p>
	  <%= link_to "Więcej", albums_path, { :class => "big-link-1" } %>
	</div>
      </div>
      <div class="col-sm-3">
	<div class="service wow fadeInDown">
	  <div class="service-icon"><i class="fa fa-book"></i></div>
	  <h3>Blog</h3>
	  <p>Obserwacje, opowieści i relacje z naszych podróży - w przygotowaniu.</p>
	  <%= link_to "Więcej", "http://www.marianka.geoblog.pl", { :class => "big-link-1" } %>
	</div>
      </div>
      <div class="col-sm-3">
	<div class="service wow fadeInUp">
	  <div class="service-icon"><i class="fa fa-magic"></i></div>
	  <h3>Jeszcze cos 1</h3>
	  <p>Pewnie jeszcze coś tu powstanie najbardziej ciekawego na świecie.</p>
	  <%= link_to "Więcej", albums_path, { :class => "big-link-1" } %>
	</div>
      </div>
      <div class="col-sm-3">
	<div class="service wow fadeInDown">
	  <div class="service-icon"><i class="fa fa-print"></i></div>
	  <h3>Jeszcze cos 2</h3>
	  <p>Tutaj pewnie też jeszcze coś powstanie super inspirującego i interesującego.</p>
	  <%= link_to "Więcej", albums_path, { :class => "big-link-1" } %>
	</div>
      </div>
    </div>
  </div>
</div>
