<!-- Slider 2 -->
<div class="slider-2-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 slider-2-text wow fadeInUp">
        <h1>Serdecznie zapraszam na <span class="violet">Maryjka</span>.pl</h1>
	<p>Znajdziesz tu opowieści z podróży, subiektywne obserwacje, zdjęcia i inspiracje.</p>
      </div>
    </div>
  </div>
</div>
